* { margin: 0; padding: 0; box-sizing: border-box; font-family: Poppins; }

body { background: #eef4ff; color: #222; }

header {
  background: #82afff;
  padding: 15px 60px;
  display: flex; justify-content: space-between; align-items: center;
}
.logo { color: white; font-size: 26px; font-weight: 700; }
nav a { color:white; margin:0 18px; text-decoration:none; font-size:18px; }
.cart-btn { cursor: pointer; font-size: 20px; position: relative; }
.cart-btn span {
  background:#ff3a3a; padding:2px 7px; border-radius:50%;
  color:white; font-size:13px; position:absolute; top:-10px; right:-12px;
}

/* HERO */
.hero { padding: 70px 60px; display:flex; justify-content:space-between; align-items:center; }
.hero img { width: 430px; }
.hero h1 { font-size: 45px; }
.hero p { font-size: 18px; margin: 16px 0; }
.hero-btn {
  background:#3c7bff; border:none; padding:12px 28px; color:white;
  border-radius:7px; cursor:pointer; transition:0.3s;
}
.hero-btn:hover { background:#1e63ff; }

/* PRODUCTS */
.section-title { margin:20px 60px; font-size:32px; display:flex; align-items:center; gap:10px; }

.products-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:25px;
  padding:30px 60px;
}

.product-card {
  background:white; padding:15px; border-radius:14px; text-align:center;
  transition:.25s; cursor:pointer;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
}
.product-card:hover { transform: translateY(-5px); box-shadow:0 12px 18px rgba(0,0,0,.18); }

.product-card img { width: 100%; height: 210px; object-fit: contain; margin-bottom: 12px; }
.product-card h3 { font-size: 19px; margin-bottom:5px; }
.price { font-size:18px; color:#2568ff; margin-bottom:12px; }

.add-btn {
  background:#3c7bff; border:none; padding:10px 20px;
  color:white; border-radius:8px; cursor:pointer;
}
.add-btn:hover { background:#1e63ff; }

/* POPUP */
#detailsPopup { position:fixed; top:0; left:0; width:100%; height:100%;
  display:none; justify-content:center; align-items:center;
  background:rgba(0,0,0,.55); z-index:999;
}
.details-card { background:white; width:430px; padding:25px; border-radius:12px; text-align:center; }
.details-card img { height: 280px; width: 280px; object-fit:contain; }
.close-btn { background:#ff3a3a; border:none; padding:10px 22px;
  color:white; border-radius:6px; cursor:pointer; margin-top:10px; }

@media (max-width:1100px) {
  .products-container { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width:650px) {
  .products-container { grid-template-columns: repeat(1, 1fr); }
}
